<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztt.dao.ArchitectInfoMapper">

    <resultMap id="architectInfolModel" type="com.ztt.dto.ArchitectInfoDto">
        <id column="ID" property="id"/>
        <id column="ARCHITECT_ID" property="architectId"/>
        <id column="DESC1" property="desc1"/>
        <id column="DESC2" property="desc2"/>
        <id column="DESC3" property="desc3"/>
        <id column="CREATE_DATE" property="createDate"/>

    </resultMap>

    <insert id="save" parameterType="com.ztt.dto.ArchitectInfoDto" keyProperty="id">
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
        <![CDATA[
          INSERT INTO TB_ARCHITECT_INFO (ID,ARCHITECT_ID,DESC1,DESC2,DESC3,CREATE_DATE)
          VALUES (#{id},#{architectId},#{desc1},#{desc2},#{desc3},#{createDate})
        ]]>
    </insert>

    <select id="get" parameterType="long" resultMap="architectInfolModel">
        <![CDATA[select * from TB_ARCHITECT_INFO where ID= #{id} ]]>
        <![CDATA[ ORDER BY CREATE_DATE DESC ]]>
    </select>

    <update id="update" parameterType="com.ztt.dto.ArchitectInfoDto" >
        <![CDATA[update   TB_ARCHITECT_INFO ]]>

        <![CDATA[  where ID= #{id} ]]>
    </update>

    <select id="getByArchitectId" parameterType="long" resultMap="architectInfolModel">
        <![CDATA[select * from TB_ARCHITECT_INFO where ARCHITECT_ID= #{architectId} ]]>
    </select>


</mapper>

