<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.dao.ArchitectDetailMapper">

    <resultMap id="architectDetailModel" type="com.base.dto.ArchitectDetailDto">
        <id column="ID" property="id"/>
        <id column="NAME" property="name"/>
        <id column="IMAGE_PATH" property="imagePath"/>
        <id column="REMARKS" property="remarks"/>
        <id column="CREATE_DATE" property="createDate"/>
        <id column="ARCHITECT_ID" property="architectId"/>
        <id column="SORT" property="sort"/>

    </resultMap>

    <insert id="save" parameterType="com.base.dto.ArchitectDetailDto" keyProperty="id">
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
        <![CDATA[
          INSERT INTO TB_ARCHITECT_DETAIL (ID,NAME,IMAGE_PATH,REMARKS,CREATE_DATE,ARCHITECT_ID,SORT)
          VALUES (#{id},#{name},#{imagePath},#{remarks},#{createDate},#{architectId},#{sort})
        ]]>
    </insert>

    <select id="query" parameterType="long" resultMap="architectDetailModel">
        <![CDATA[select * from TB_ARCHITECT_DETAIL where ARCHITECT_ID = #{architectId} ]]>
        <![CDATA[ ORDER BY CREATE_DATE DESC ]]>
    </select>



</mapper>

