<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
              http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
    <!-- 自定义权限拦截器 -->
    <http pattern="/student/**" security="none"/>
    <!--
		| 拦截所有请求
		| 如果访问资源的权限，将跳转至403页面，web.xml中已配置默认使用/WEB-INF/views/denied.jsp作为403页面
		+-->
    <http use-expressions="true" entry-point-ref="authenticationEntryPoint">
       <!-- <intercept-url pattern="/login/**" access="permitAll"/>
        <intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>-->
        <intercept-url pattern="/**" access="permitAll"/>

        <logout logout-success-url="/login" />
        <access-denied-handler ref="accessDeniedHandler" />
        <form-login login-page="/login" authentication-success-handler-ref="authenticationSuccessHandler" />
        <!-- <custom-filter ref="restSecurityInterceptor" before="FILTER_SECURITY_INTERCEPTOR" />-->

        <session-management session-authentication-error-url="/login" />
    </http>

    <!-- 授权管理 -->
    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userDetailsService"></authentication-provider>
       <!-- <authentication-provider>
             <user-service>
                 <user authorities="ROLE_USER" name="guest" password="guest"/>
             </user-service>
        </authentication-provider>-->
    </authentication-manager>

    <!-- 自定义权限拦截器 -->
    <!--<beans:bean id="restSecurityInterceptor"
                class="com.ztt.security.restSecurityInterceptor">
        <beans:property name="authenticationManager" ref="authenticationManager" />
        <beans:property name="accessDecisionManager" ref="accessDecisionManager" />
        <beans:property name="securityMetadataSource" ref="securityMetadataSource" />
    </beans:bean>-->

    <!-- 用户服务 -->
    <beans:bean id="userDetailsService" class="com.ztt.security.UserDetailsServiceImpl">
        <beans:property name="sysUserDao" ref="sysUserDaoImpl" />
    </beans:bean>

    <beans:bean id="sysUserDaoImpl" class="com.ztt.security.dao.SysUserDaoImpl"></beans:bean>
    <!-- 未登录的切入点 -->
    <beans:bean id="authenticationEntryPoint"
                class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <beans:constructor-arg name="loginFormUrl" value="/WEB-INF/views/login.jsp" />
        <beans:property name="useForward" value="true" />
    </beans:bean>

    <!-- 登录成功后处理器 -->
    <beans:bean id="authenticationSuccessHandler"
                class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
        <beans:property name="defaultTargetUrl" value="/index" />
    </beans:bean>

    <!--
        | 访问拒绝处理器
        | 支持AJAX请求，如果AJAX请求被拒绝，将返回拒绝页面的html
        +-->
    <beans:bean id="accessDeniedHandler" class="com.ztt.security.RestAccessDeniedHandler">
        <beans:property name="supportAjax" value="true" />
        <beans:property name="errorPage" value="/WEB-INF/views/denied.jsp" />
    </beans:bean>

</beans:beans>
