<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

 <bean id="customEditorConfigure" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
   <property name="customEditors">
      <map>
         <!-- 确定目标类 -->
         <entry key="com.ztt.PropertyEditor.Person">
           <bean class="com.ztt.PropertyEditor.PersonEditor"></bean>
         </entry>
      </map>
   </property>
 </bean>
 <bean id="company" class="com.ztt.PropertyEditor.Company">
   <property name="director">
      <value>gaoxiang-26</value>
   </property>
 </bean>
</beans>