<?xml version="1.0" encoding="UTF-8"?>
<!-- Reference Manual http://logback.qos.ch/manual/index.html -->

<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d %-5p %logger{35} - %m %n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework">
		<level value="DEBUG" />
	</logger>
	<logger name="org.hibernate">
		<level value="WARN" />
	</logger>
	<logger name="org.hibernate.SQL">
		<level value="DEBUG" />
	</logger>
	<logger name="org.hibernate.cache">
		<level value="WARN" />
	</logger>
	<logger name="org.apache.activemq">
		<level value="INFO" />
	</logger>
	<logger name="com.chinadrtv.uam">
		<level value="INFO" />
	</logger>
	
	<root> <!-- 定义级别为 ,INFo -->
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</root>
</configuration>
