*,html,body,div,span,applet,object,iframe,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,img,q,fieldset,form,label,legend,input,select,textarea,table,caption,tbody,tfoot,thead,tr,th,td,var,font,ins,kbd,s,sampsmall,strike,strong,tt,b,u,i,center { margin: 0; padding: 0; border: 0; outline: none; font-size: 100%; font-style: inherit; font-weight: inherit; font-family: inherit; vertical-align: baseline; background: transparent;}
body { line-height: 1; }
table { border-collapse:collapse; border-spacing:0;}
fieldset,img,a img{ border:0; }
ul,ol,li { list-style:none; }
caption,th,td{ text-align:left; }
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal; }
blockquote, q { quotes: none; }
blockquote:before,blockquote:after,q:before,q:after{ content:''; }
abbr,acronym { border:0; font-variant:normal;}
a { outline: none; }
sup { vertical-align:text-top;}
sub { vertical-align:text-bottom;}
ins { text-decoration: none; }
legend{ color:#000;}
strong { font-weight: bold }
em { font-style: italic }
del { text-decoration: line-through; }

@font-face {
  font-family:'RangerRegular';
  src:url('../../fonts/ranger-webfont.eot');
  src:url('../../fonts/ranger-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../../fonts/ranger-webfont.woff') format('woff'), url('../../fonts/ranger-webfont.ttf') format('truetype'), url('../../fonts/ranger-webfont.svg#RangerRegular') format('svg');
  font-weight:normal;
  font-style:normal;
}
body {
  /*background:White url(../../images/ftpm/bg_line.png) repeat-x scroll top center;*/
  font:11px Arial, Helvetica, sans-serif;
  color:#636363;
}
.container {
  width:980px;
  margin:0 auto;
}
.left { float:left; }
.right { float:right; }
a {
  font:11px Arial, Helvetica, sans-serif;
  text-decoration:none;
  color:#87CEFF;
}
a:hover { text-decoration:underline; }
b { font-weight:bold; }
i { font-style:italic; }
#preload { display:none; }
.clear {
  clear:both;
  height:1px;
  overflow:hidden;
}
.clearfix:after {
  visibility:hidden;
  display:block;
  font-size:0;
  content:" ";
  clear:both;
  height:0;
}
* html .clearfix { zoom:1; }
*:first-child+html .clearfix { zoom:1; }
#top-footer {
  background:#1a1a1a;
  padding:1px 0 3px 0;
}
#top-footer #top-footer-inner { position:relative; }
#top-footer #top-footer-inner h3 {
  text-shadow:1px 1px 1px #000000;
  filter:dropshadow(color=#000000,offx=1,offy=1);
  font-family:'RangerRegular', Arial, sans-serif;
  font-size:18px;
  color:#ffffff;
  margin:0 0 12px 0;
}
#top-footer #top-footer-inner h3 span { color:#87CEFF; }
#top-footer #top-footer-inner p {
  color:#bebdbd;
  line-height:18px;
}
#top-footer #top-footer-inner .left-widget {
  float:left;
  width:460px;
}
#top-footer #top-footer-inner .right-widget {
  float:right;
  width:460px;
}
#top-footer #top-footer-inner .social a {
  float:left;
  display:block;
  width:24px;
  height:24px;
  background:url(../../images/ftpm/header_social_icons_sprite.png) no-repeat 0 0;
  margin:9px 8px 0 0;
}
#top-footer #top-footer-inner .social a.skype:hover { background-position:0px -24px; }
#top-footer #top-footer-inner .social a.twitter { background-position:-24px 0; }
#top-footer #top-footer-inner .social a.twitter:hover { background-position:-24px -24px; }
#top-footer #top-footer-inner .social a.twitter { background-position:-48px 0; }
#top-footer #top-footer-inner .social a.twitter:hover { background-position:-48px -24px; }
#top-footer #top-footer-inner .social a.facebook { background-position:-72px 0; }
#top-footer #top-footer-inner .social a.facebook:hover { background-position:-72px -24px; }
#top-footer #top-footer-inner .social a.dribbble { background-position:-96px 0; }
#top-footer #top-footer-inner .social a.dribbble:hover { background-position:-96px -24px; }
#top-footer #top-footer-inner .social a.rss { background-position:-120px 0; }
#top-footer #top-footer-inner .social a.rss:hover { background-position:-120px -24px; }
#top-footer #top-footer-inner .social a.forrst { background-position:-144px 0; }
#top-footer #top-footer-inner .social a.forrst:hover { background-position:-144px -24px; }

#header {
  width:980px;
  height:55px;
  margin:5% auto 55px auto;
  background:url(../../images/ftpm/light_dots.png) repeat-x bottom center;
}
#header .logotype { float:left; margin-top: -3%}
#header .logotype a {
  font-family:'RangerRegular', Arial, sans-serif;
  font-size:30px;
  color:#1a1a1a;
  line-height:22px;
}
#header .logotype a span { color:#87CEFF; }
#header .logotype a:hover { text-decoration:none; }
#header ul {
  margin:2px 0 0 0;
  float:right;
}
#header ul li {
  color:#191919;
  display:inline;
}
#header ul li a {
  font-weight:bold;
  color:#191919;
  text-transform:uppercase;
  line-height:8px;
  padding:3px 6px 2px 6px;
  margin:0 12px;
}
#header ul li:hover a, #header ul li.selected a {
  color:#ffffff;
  background:#BEE664;
  text-decoration:none;
}
#header ul li.last a { margin-right:0; }
#head-text {
  text-align:center;
  margin:0 auto 50px auto;
}
#head-text h1 {
  line-height:26px;
  font-size:24px;
  color:#1a1a1a;
  margin:0 0 10px 0;
  font-weight:bold;
  font-style: italic;
}
#head-text h1 strong {
  padding:4px 4px 3px 4px;
  background:#007AB8;
  color:#ffffff;
}
#head-text h2 {
  color:#A0A0A0;
  font-size:18px;
  font-weight:bold;
  text-transform:uppercase;
}
#home-slider {
  margin:0 auto 50px auto;
  position:relative;
}
#home-slider div { height:347px; }
#home-slider div img { position:absolute; }
#home-slider div h2 {
  position:absolute;
  margin:260px 0 0 41px;
  padding:9px;
  background:#BEE664;
}
#home-slider div h2, #home-slider div h2 a {
  font-family:'RangerRegular', Arial, sans-serif;
  font-size:18px;
  line-height:10px;
  color:#ffffff;
  display:block;
}
#home-slider div h2:hover, #home-slider div h2 a:hover { text-decoration:none; }
#home-slider div h3 {
  position:absolute;
  margin:287px 0 0 41px;
  padding:7px;
  background:#252b2f;
}
#home-slider div h3, #home-slider div h3 a {
  font-size:10px;
  font-weight:bold;
  line-height:7px;
  color:#ffffff;
  text-transform:uppercase;
  display:block;
}
#home-slider div h3:hover, #home-slider div h3 a:hover { text-decoration:none; }
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
a.bx-prev, a.bx-next {
  width:47px;
  height:47px;
  position:absolute;
  bottom:40px;
}
a.bx-prev {
  background:url(../../images/ftpm/slider_left.png) no-repeat center center;
  right:90px;
}
a.bx-prev:hover { background:url(../../images/ftpm/slider_left_hover.png) no-repeat center center; }
a.bx-next {
  background:url(../../images/ftpm/slider_right.png) no-repeat center center;
  right:40px;
}
a.bx-next:hover { background:url(../../images/ftpm/slider_right_hover.png) no-repeat center center; }
#services { margin:50px auto 55px auto; }
#services li {
  margin:0 22px 0 25px;
  float:left;
}
#services li a {
  width:149px;
  height:119px;
  display:block;
  text-indent:-9999px;
}
#services li:hover {
  color:#007AB8;
}

#services li span {
  font-size: 150%;
  margin:10px 0 0 40px;
  display: block;
}
/*#services li a:hover {
  height:81px;
  width:100px;
  padding:58px 24px 0 25px;
  text-indent:0;
  line-height:16px;
  text-align:center;
  text-decoration:none;
  font-family:'RangerRegular', Arial, sans-serif;
  font-size:18px;
  color:#ffffff;
  background:url(../../images/ftpm/services/service_hover.png) no-repeat center center !important;
}*/

@media screen and (max-device-width: 1080px) {
  .foot_width{
    background:#1a1a1a;
    position:relative;
    bottom:0;
    left:0;
  }
}


#footer {
  width:100%;
  background:#1a1a1a;
  position:relative;
  bottom:0;
  left:0;
}
#footer div h1.title {
  margin:0 0 15px 0;
  color:#ffffff;
  text-shadow:1px 1px 1px #000000;
  filter:dropshadow(color=#000000,offx=1,offy=1);
}
#footer div h1.title span { color:#87CEFF; }
#footer #footer-heading {
  height:50px;
  margin:53px 0 50px 0;
  padding:0 0 0 50px;
  /*background:url(../../images/ftpm/calendar_icon.png) no-repeat left center;*/
  text-shadow:1px 1px 1px #000000;
  filter:dropshadow(color=#000000,offx=1,offy=1);
}
#footer #footer-heading h1 {
  padding-top:2px;
  color:white;
  font-size:24px;
}
#footer #footer-heading h1 span { color:#ffffff; }
#footer #footer-heading h2 {
  font-size:14px;
  color:#646464;
}
#footer #recent-works {
  padding:49px 0 0 0;
  background:url(../../images/ftpm/dark_dots.png) repeat-x top center;
}
#footer form div {
  margin:0 auto 6px auto;
}

#footer #recent-works h1 { margin-bottom:21px; }
#footer #our-clients {
  padding:19px 0 0 0;
  margin:0 auto 22px auto;
  background:url(../../images/ftpm/dark_dots.png) repeat-x top center;
}
#footer #our-clients div {
  margin:0 auto 6px auto;
}
#footer #our-clients a {
  display:block;
  float:left;
  background:#1d1d1d;
}
#footer #our-clients a img { border:1px solid #232323; }
#footer #our-clients a:hover { background:#87CEFF; }
#footer #footer-text {
  height:50px;
  /*padding:29px 0 88px 0;*/
  padding:29px 0 18px 0;
  background:url(../../images/ftpm/dark_dots.png) repeat-x top center;
}
#footer #footer-text p.top {
  font-weight:bold;
  font-size:10px;
  text-transform:uppercase;
  color:#828282;
  margin:0 0 9px 0;
}
#footer #footer-text p a {
  color:#828282;
}
#footer #footer-text p.bottom {
  color:#444444;
  font-weight:bold;
  font-size:10px;
  width:400px;
}
#footer #footer-text .footer-copyright { float:left; }
#footer #footer-text .footer-social { float:right; }
#footer #footer-text .footer-social a {
  background:url(../../images/ftpm/footer_social_icons_sprite.png) no-repeat 0 0;
  margin:0 0 0 9px;
  display:block;
  width:16px;
  height:16px;
  float:left;
}
#footer #footer-text .footer-social a.twitter { background-position:-16px 0; }
#footer #footer-text .footer-social a.twitter { background-position:-16px 0; }
#footer #footer-text .footer-social a.facebook { background-position:-32px 0; }
#footer #footer-text .footer-social a.dribbble { background-position:-48px 0; }
#footer #footer-text .footer-social a.rss { background-position:-64px 0; }
#footer #footer-text .footer-social a.forrst { background-position:-80px 0; }
#footer #footer-text .footer-social p.top { float:right; }
ul#portfolio-items { padding:0 0 33px 0;margin-top: 30px; }
ul#portfolio-items li {
  width:230px;
  height:194px;
  float:left;
  margin:0 20px 0 0;
}
ul#portfolio-items li.last { margin-right:0; }
ul#portfolio-items li a {
  text-shadow:1px 1px 1px #000000;
  filter:dropshadow(color=#000000,offx=1,offy=1);
  position:relative;
  cursor:pointer;
  display:block-inline;
  z-index:5;
}
ul#portfolio-items li a img {
  position:absolute;
  z-index:1;
  top:0;
  left:0;
}
ul#portfolio-items li a canvas { z-index:2; }
ul#portfolio-items li a span.title, ul#portfolio-items li a span.cat {
  text-align:center;
  display:block;
  font-weight:bold;
}
ul#portfolio-items li a span.title {
  text-transform:uppercase;
  font-weight:bold;
  margin:162px 0 0 0;
  color:#ffffff;
}
ul#portfolio-items li a span.cat {
  color:#929292;
  font-style:italic;
  font-size:10px;
}
ul#portfolio-items li a:hover { text-decoration:none; }
ul#portfolio-items li a:hover span.title { color:#87CEFF; }
ul#portfolio-items li a:hover span.cat { color:#5c5c5c; }
.dark-dots {
  height:1px;
  width:980px;
  margin:0 auto;
  background:url(../../images/ftpm/light_dots.png) repeat-x top center;
}
#portfolio-inner {
  width:1000px;
  padding:48px 0 0 20px;
  min-height: 503px;
}
#portfolio-inner h1.title {
  margin:0 0 26px 0;
  font-family:'RangerRegular', Arial, sans-serif;
  font-size:22px;
  color:#1a1a1a;
  float:left;
}
#portfolio-inner h1.title span { color:#87CEFF; }
#portfolio-inner ul#portfolio-items li { margin-bottom:20px; }
#portfolio-inner ul#portfolio-items li a {
  text-shadow:none;
  filter:none;
}
#portfolio-inner ul#portfolio-items li a span.title { color:#1a1a1a; }
#portfolio-inner ul#portfolio-items li a span.cat { color:#a5a5a5; }
#portfolio-inner ul#portfolio-items li a:hover { text-decoration:none; }
#portfolio-inner ul#portfolio-items li a:hover span.title { color:#87CEFF; }
#portfolio-inner ul#portfolio-items li a:hover span.cat { color:#545454; }
#portfolio-inner ul#filters {
  float:right;
  margin:4px 20px 0 0;
}
#portfolio-inner ul#filters li { display:inline; }
#portfolio-inner ul#filters li a {
  color:#1a1a1a;
  text-transform:uppercase;
  font-size:10px;
  font-weight:bold;
  padding:2px 4px;
  margin:0 4px;
  cursor:pointer;
}
#portfolio-inner ul#filters li a:hover {
  text-decoration:none;
  color:#ffffff;
  background:#87CEFF;
}
#portfolio-inner ul#filters li.selected a {
  text-decoration:none;
  color:#ffffff;
  background:#87CEFF;
}
#portfolio-inner ul#filters li.last a { margin-right:0; }
#slider-container {
  display:none;
  background:#1a1a1a;
  width:100%;
  padding:26px 0 0 0;
  height:522px;
  margin-top:50px;
}
#portfolio-items-slider {
  width:980px;
  overflow:hidden;
  margin:0 auto;
  color:#aeaeae;
}
#portfolio-items-slider .portfolio-item { display:none; }
#portfolio-items-slider .portfolio-slider-containter {
  float:left;
  width:704px;
  overflow:hidden;
  margin:0 34px 26px 0;
}
#portfolio-items-slider .portfolio-slides img {
  position:relative;
  display:block;
  width:704px;
  height:446px;
  text-decoration:none;
}
#portfolio-items-slider ul.portfolio-item-pagination {
  margin:17px auto 0 auto;
  width:400px;
}
#portfolio-items-slider ul.portfolio-item-pagination li {
  display:inline;
  margin:0 auto;
}
#portfolio-items-slider ul.portfolio-item-pagination li a {
  float:left;
  display:block;
  width:14px;
  height:14px;
  margin:0 3px 0 3px;
  background:url(../../images/ftpm/bullet_hover.png) no-repeat 0 0;
  text-indent:-90000px;
}
#portfolio-items-slider ul.portfolio-item-pagination li a:hover, #portfolio-items-slider ul.portfolio-item-pagination li.current a { background:url(../../images/ftpm/bullet.png) no-repeat 0 0; }
.portfolio-item-right {
  float:left;
  padding:9px 0 0 0;
  width:242px;
}
.portfolio-item-right .portfolio-controls {
  height:21px;
  background:url(../../images/ftpm/dark_dots.png) repeat-x bottom center;
  width:242px;
  margin:0 0 16px 0;
}
.portfolio-item-right .portfolio-controls .left-arrow {
  width:14px;
  height:10px;
  display:block;
  float:left;
  background:url(../../images/ftpm/portfolio_item_left.png) no-repeat 0 0;
  cursor:pointer;
  margin:0 15px 0 0;
}
.portfolio-item-right .portfolio-controls .right-arrow {
  width:14px;
  height:10px;
  display:block;
  float:left;
  background:url(../../images/ftpm/portfolio_item_right.png) no-repeat 0 0;
  cursor:pointer;
}
.portfolio-item-right .portfolio-controls .button-close {
  width:12px;
  height:10px;
  display:block;
  float:right;
  background:url(../../images/ftpm/portfolio_item_close.png) no-repeat 0 0;
  cursor:pointer;
  margin-right:1px;
}
.portfolio-item-right h2, .portfolio-item-right span {
  font:14px Arial, Helvetica, sans-serif;
  color:#ffffff;
  display:block;
  font-weight:bold;
  text-transform:uppercase;
  text-shadow:1px 1px 1px #000000;
  margin-bottom:4px;
}
.portfolio-item-right span {
  font-size:10px;
  color:#4f4f4f;
  margin-bottom:12px;
}
.portfolio-item-right p {
  color:#6e6e6e;
  line-height:20px;
  margin-bottom:18px;
  font-size:11px;
}
.portfolio-item-right a.portfolio-link {
  color:#ffffff;
  background:#2b2b2b;
  padding:8px 7px;
  font:10px Arial, Helvetica, sans-serif;
}
.portfolio-item-right a.portfolio-link:hover {
  text-decoration:none;
  text-shadow:none;
  color:#ffffff;
  background:#87CEFF;
}
.portfolio-item-right .portfolio-item { height:589px; }
.isotope-item { z-index:2; }
.isotope-hidden.isotope-item {
  pointer-events:none;
  z-index:1;
}
#content { margin-top:47px; }
#content .blog-content {
  float:left;
  width:700px;
  margin-bottom:50px;
}
#content .blog-content .blog-post {
  padding-bottom:38px;
  margin-bottom:50px;
  background:url(../../images/ftpm/light_dots.png) repeat-x bottom center;
}
#content .blog-content .blog-post .post-left {
  width:132px;
  float:left;
}
#content .blog-content .blog-post .post-left .date {
  background:url(../../images/ftpm/blog_post_date.png) no-repeat top left;
  width:98px;
  height:50px;
  display:block;
  color:#ffffff;
  font-size:14px;
  font-weight:bold;
  padding:10px 0 0 13px;
}
#content .blog-content .blog-post .post-left p {
  font-size:10px;
  color:#b1b1b1;
  line-height:18px;
}
#content .blog-content .blog-post .post-left p a {
  font-size:10px;
  color:#a0a0a0;
}
#content .blog-content .post-right {
  width:566px;
  float:right;
}
#content .blog-content .post-right a.featured {
  display:block;
  margin-bottom:20px;
}
#content .blog-content .post-right h2, #content .blog-content .post-right h2 a {
  color:#1a1a1a;
  font-size:12px;
  font-weight:bold;
  text-transform:uppercase;
}
#content .blog-content .post-right h2 { margin-bottom:16px; }
#content .blog-content .post-right p {
  color:#636363;
  line-height:18px;
  margin-bottom:20px;
}
#content .blog-content .post-right a.more {
  color:#ffffff;
  background:#1a1a1a;
  font-size:10px;
  font-weight:bold;
  text-transform:uppercase;
  padding:9px 9px;
}
#content .blog-content .post-right a.more:hover {
  text-decoration:none;
  background:#87CEFF;
}
#content .blog-post-inner { margin-bottom:35px !important; }
#content .post-comments h2 {
  color:#1a1a1a;
  font-size:14px;
  font-weight:bold;
  text-transform:uppercase;
}
#content .post-comments .comment {
  margin:30px 0 0 0;
  padding:0 0 20px 0;
  background:url(../../images/ftpm/light_dots.png) repeat-x bottom center;
}
#content .post-comments .comment img.avatar {
  float:left;
  margin-right:15px;
}
#content .post-comments .comment .comment-data {
  width:630px;
  float:left;
}
#content .post-comments .comment .comment-data h3, #content .post-comments .comment .comment-data h3 a {
  font-size:11px;
  font-weight:bold;
  color:#5e5e5e;
}
#content .post-comments .comment .comment-data .comment-meta, #content .post-comments .comment .comment-data .comment-meta a {
  color:#c2c2c2;
  font-weight:bold;
  font-size:10px;
  margin-bottom:3px;
}
#content .post-comments .comment .comment-data p { line-height:18px; }
#content .post-comments .comment-inner { margin-left:50px; }
#content .post-comments .comment-inner .comment-data { width:580px; }
#content .contact-form, #content .comment-form { margin-top:58px; }
#content .contact-form h2, #content .comment-form h2 {
  color:#1a1a1a;
  font-size:14px;
  font-weight:bold;
  text-transform:uppercase;
  margin-bottom:18px;
}
#content .contact-form .form label, #content .comment-form .form label {
  float:left;
  color:#9f9f9f;
  font-size:10px;
  font-weight:bold;
  text-transform:uppercase;
  clear:both;
  margin:0 0 5px 0;
}
#content .contact-form .form label span, #content .comment-form .form label span { color:#e64848; }
#content .contact-form .form input.text, #content .comment-form .form input.text {
  color:#909090;
  width:200px;
  height:29px;
  float:left;
  clear:both;
  border:1px solid #dfdfdf;
  margin:0 0 12px 0;
  padding:0 5px 0 5px;
}
#content .contact-form .form textarea, #content .comment-form .form textarea {
  color:#909090;
  width:684px;
  height:84px;
  float:left;
  clear:both;
  border:1px solid #dfdfdf;
  padding:5px;
  margin:0 0 14px 0;
  resize:vertical;
}
#content .contact-form .form input.submit, #content .comment-form .form input.submit {
  float:left;
  color:#ffffff;
  background:#87CEFF;
  font-weight:bold;
  text-transform:uppercase;
  font-size:10px;
  line-height:10px;
  padding:4px 3px;
}
#content .pagination {
  margin:0 0 10px 0;
  color:#1a1a1a;
  font-size:10px;
  font-weight:bold;
  text-transform:uppercase;
}
#content .pagination span {
  float:left;
  color:#9c9c9c;
  display:block;
  margin-right:30px;
}
#content .pagination a {
  margin:0 3px 0 3px;
  color:#1a1a1a;
  font-size:10px;
  font-weight:bold;
  text-transform:uppercase;
}
#content .pagination a:hover {
  text-decoration:none;
  color:#87CEFF;
}
#content .sidebar {
  margin-left:39px;
  width:240px;
  float:left;
}
#content .sidebar .widget { margin:0 0 45px 0; }
#content .sidebar .widget h2 {
  color:#1a1a1a;
  font-weight:bold;
  font-size:14px;
  text-transform:uppercase;
  line-height:14px;
  margin-bottom:15px;
}
#content .sidebar .widget p {
  font-size:11px;
  line-height:18px;
  margin-bottom:15px;
}
#content .sidebar .widget p b {
  color:#1a1a1a;
  font-weight:bold;
}
#content .sidebar .widget ul.cats li a {
  line-height:20px;
  color:#636363;
  font-size:10px;
  font-weight:bold;
  text-transform:uppercase;
}
#content .sidebar .widget ul.cats li a:hover {
  text-decoration:none;
  color:#87CEFF;
}
#content .sidebar .widget ul.photos li {
  float:left;
  margin:0 9px 6px 0;
}
#content .sidebar .widget ul.photos li.last { margin-right:0; }
#content .single-page { background:none !important; }
#content .single-page h2 {
  font-family:'RangerRegular', Arial, sans-serif;
  font-size:22px;
  color:#000000;
  margin:0 0 12px 0;
}
#content .single-page h2 span { color:#87CEFF; }
#content .single-page p {
  line-height:18px;
  margin-bottom:20px;
}
#content .single-page .contact-form {
  background:url(../../images/ftpm/light_dots.png) repeat-x bottom center;
  padding-bottom:60px;
  margin:0 0 50px 0;
}